<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.green.springcafe.dao.MemberDao">
  <select id="getEmail" resultType="String">
    select mem_email from member where id = #{mem_id}
  </select>
  
  <select id="getUser" resultType="kr.green.springcafe.vo.MemberVo"> 
  	select * from member where mem_id = #{mem_id} 
	</select>
	 
	<insert id="insertUser"> 
		insert into  
			member(mem_id, mem_pw, mem_email, mem_gender, mem_phone, mem_name) 
			values(#{member.mem_id}, #{member.mem_pw}, #{member.mem_email}, #{member.mem_gender}, #{member.mem_phone}, #{member.mem_name}) 
	</insert>
	
</mapper>